
.carousel-control-prev, .carousel-control-next {
    font-size: 100px; 
    background-color: red;
    margin: 40vh 0;
    width: 30px;
    min-height: 50px
}


#nav-bar{
    height: 10vh;
}

#carouselExample{
overflow-y: hidden;
max-height: 75vh;

}


.carousel-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

.icon{
    width: 6vh;
    border-radius: 50%;
    padding: 1vh;
    border: 2px solid white;
}

li{
    list-style: none;
    border-bottom: 1px solid white;
}